APP_NAME=TEYZUS

VERSION=1.0


# Telegram Bot
BOT_TOKEN=YOUR_BOT_TOKEN


# AI (добавим позже)
AI_API_KEY=YOUR_AI_KEY


# Database (позже можно заменить на Render PostgreSQL)
DATABASE_URL=YOUR_DATABASE_URL
