# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
.env.*

# Virtual environment
venv/
.venv/

# Database
*.sqlite3

# Logs
*.log

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Render
.render/
